<div class="w-full bg-slate-500 bg-opacity-40 rounded-3xl px-6 py-5">
  <% content_for :title, "Teams" %>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl text-white text-shadow shadow-blue-600">Teams</h1>
    <%= link_to "New team", new_team_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
  <div id="teams" class="min-w-full">
    <% @teams.each do |team| %>
      <%= render partial: "index_team", locals: { team: team } %>
    <% end %>
  </div>
</div>
