<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render partial: 'team', locals: { team: @team, coaches: @coaches, members: @members } %>
    <div id="team-show-buttons" class="flex flex-row items-center mt-5">
      <%= button_to "Edit this team", edit_team_path(@team), class: "rounded-lg py-3 px-5 bg-blue-500 font-medium text-white" %>
      <%= button_to "Back to teams", teams_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
      <%= button_to "Destroy this team", @team, method: :delete, class: "ml-2 rounded-lg py-3 px-5 bg-red-500 font-medium text-white" %>
    </div>
  </div>
</div>
