<div>
  <p class="text-4xl">Create an account and add you team or log in and join your local team!</p>
  <p class="my-6">image here</p>
  <p class="text-4xl">Set up a team and post update for events, local news, or send out notices to members of your team if the weather decides to get in the way!</p>
  <%= link_to "Sign Up!", new_user_registration_path, class: " text-4xl" %>
</div>
